<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
		id          = "myfirstapp"
        version     = "1.0.0" >

    <name>App with jQM</name>
    <description>My first mobile app with jQuery Mobile user interface</description>
    <author href="http://mypersonalwebsite.com" email="kowalski.bartoszek@gmail.com">
		Bartosz Kowalski
	</author>
	<universal-links>
    <host name="https://yn232.app.goo.gl" scheme="https" />
    <host name="letmeet-bai.firebaseapp.com" scheme="https">
    <path url="/__/auth/callback"/>
    </host>
</universal-links>
	
	<platform name="android" />
	<preference name="DisallowOverscroll" value="true" />
    <preference name="android-minSdkVersion" value="14" />
	<preference name="AndroidLaunchMode" value="singleTask" />
	<plugin name="cordova-plugin-firebase" spec="1.0.0" />
	<gap:plugin name="cordova-plugin-whitelist" source="npm" />
	<access origin="*" />
	<allow-navigation href="*" />
	<allow-intent href="*" />
</widget>
